importamos las librerias a ocupar

In [1]:

import pandas as pd
import numpy as np 
import ast
import json
from langdetect import detect
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
from pandas.io.parquet import to_parquet
from pandas import json_normalize
import warnings
warnings.filterwarnings("ignore")

Este comando solo debe ejecurtarse una sola vez

In [5]:
#nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\lucas\AppData\Roaming\nltk_data...

True

In [2]:
def cargar_lineas_json(ruta_archivo):
    data = []
    with open(ruta_archivo, 'r', encoding='utf-8') as f:
        for linea in f:
            try:
                # Convertir la línea en un diccionario y guardo en la lista
                linea_dict = (ast.literal_eval(linea))
                data.append(linea_dict)
            except json.JSONDecodeError as e:
                print(f"Error al decodificar la línea: {linea}. Error: {e}")

    return pd.DataFrame(data)

In [3]:
df_reviews = cargar_lineas_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\data\australian_user_reviews.json')

In [4]:
df_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [5]:
df_reviews.info

<bound method DataFrame.info of                  user_id                                           user_url  \
0      76561197970982479  http://steamcommunity.com/profiles/76561197970...
1                js41637               http://steamcommunity.com/id/js41637
2              evcentric             http://steamcommunity.com/id/evcentric
3                  doctr                 http://steamcommunity.com/id/doctr
4              maplemage             http://steamcommunity.com/id/maplemage
...                  ...                                                ...
25794  76561198306599751  http://steamcommunity.com/profiles/76561198306...
25795           Ghoustik              http://steamcommunity.com/id/Ghoustik
25796  76561198310819422  http://steamcommunity.com/profiles/76561198310...
25797  76561198312638244  http://steamcommunity.com/profiles/76561198312...
25798        LydiaMorley           http://steamcommunity.com/id/LydiaMorley

                                                 reviews
0      [{'funny': '', 'posted': 'Posted November 5, 2...
1      [{'funny': '', 'posted': 'Posted June 24, 2014...
2      [{'funny': '', 'posted': 'Posted February 3.',...
3      [{'funny': '', 'posted': 'Posted October 14, 2...
4      [{'funny': '3 people found this review funny',...
...                                                  ...
25794  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  [{'funny': '1 person found this review funny',...
25797  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798  [{'funny': '1 person found this review funny',...

[25799 rows x 3 columns]>

In [6]:
def extraer_reviews(df_reviews):
    # Aplana la columna 'reviews' utilizando json_normalize
    flattened_reviews = json_normalize(df_reviews['reviews'])

    # Agrega 'user_id' al principio de las columnas aplanadas
    user_reviews =  pd.concat([df_reviews['user_id'], flattened_reviews], axis=1)

    return user_reviews

# extrae las columnas 'reviews'
user_reviews = extraer_reviews(df_reviews)

# Muestra el DataFrame resultante
user_reviews

,user_id,0,1,2,3,4,5,6,7,8,9
0,76561197970982479,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,evcentric,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,doctr,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,maplemage,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
25794,76561198306599751,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25795,Ghoustik,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25796,76561198310819422,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25797,76561198312638244,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25798,LydiaMorley,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [74]:
#funcion para extrar columnas de review
def seleccionar_datos(df, fila, columna):
    # Seleccionar el dato en la fila y columna especificadas
    data_review = df.loc[fila, columna]
    # Crear un nuevo DataFrame con el dato seleccionado
    data = json_normalize(data_review)
    return data

In [7]:
ejemplo = seleccionar_datos(user_reviews, 0, 0)

ejemplo

NameError: name 'seleccionar_datos' is not defined

Recorro el data frame y lo cargo el id del usuario mas su review wn un nuevo data frame separando las reviews en filas

In [8]:
melted_df_reviews = pd.melt(user_reviews, id_vars=['user_id'], value_vars=[0,2,1,4,3,5,6,7,8,9,], var_name='Review', value_name='Review_Data')

melted_df_reviews

,user_id,Review,Review_Data
0,76561197970982479,0,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,js41637,0,"{'funny': '', 'posted': 'Posted June 24, 2014...."
2,evcentric,0,"{'funny': '', 'posted': 'Posted February 3.', ..."
3,doctr,0,"{'funny': '', 'posted': 'Posted October 14, 20..."
4,maplemage,0,"{'funny': '3 people found this review funny', ..."
...,...,...,...
257985,76561198306599751,9,None
257986,Ghoustik,9,None
257987,76561198310819422,9,None
257988,76561198312638244,9,None
257989,LydiaMorley,9,None

Elimino las reviews nulas

In [9]:
#melted_df_reviews.dropna(subset=['Review_Data'], inplace=True)

melted_df_reviews

,user_id,Review,Review_Data
0,76561197970982479,0,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,js41637,0,"{'funny': '', 'posted': 'Posted June 24, 2014...."
2,evcentric,0,"{'funny': '', 'posted': 'Posted February 3.', ..."
3,doctr,0,"{'funny': '', 'posted': 'Posted October 14, 20..."
4,maplemage,0,"{'funny': '3 people found this review funny', ..."
...,...,...,...
256785,BonnieMTD,9,"{'funny': '', 'posted': 'Posted June 7, 2015.'..."
256904,amillionlemons,9,"{'funny': '', 'posted': 'Posted March 16, 2015..."
257402,keepit1hunid,9,"{'funny': '', 'posted': 'Posted March 29, 2014..."
257718,SKELETRONPRIMEISOP,9,"{'funny': '', 'posted': 'Posted August 9, 2014..."
257720,76561198141079508,9,"{'funny': '', 'posted': 'Posted July 15, 2014...."

ordeno el dataframe segun user_id

In [10]:
melted_df_reviews.sort_values(by='user_id', inplace=True)

melted_df_reviews

            user_id Review                                        Review_Data
8342        --000--      0  {'funny': '', 'posted': 'Posted March 20, 2014...
25239       --ace--      0  {'funny': '', 'posted': 'Posted January 24, 20...
76837       --ace--      1  {'funny': '', 'posted': 'Posted May 30, 2014.'...
64552     --ionex--      1  {'funny': '', 'posted': 'Posted August 15, 201...
12954     --ionex--      0  {'funny': '', 'posted': 'Posted March 2.', 'la...
...             ...    ...                                                ...
75656       zyr0n1c      1  {'funny': '', 'posted': 'Posted March 26, 2015...
178852      zyr0n1c      6  {'funny': '', 'posted': 'Posted July 15, 2013....
127254      zyr0n1c      3  {'funny': '', 'posted': 'Posted February 1, 20...
230450      zyr0n1c      8  {'funny': '', 'posted': 'Posted December 23, 2...
17417   zzoptimuszz      0  {'funny': '', 'posted': 'Posted November 13, 2...

[59305 rows x 3 columns]

normaliso reviews_data

In [11]:
df_reviews = melted_df_reviews['Review_Data'].apply(pd.Series, dtype='object')
df_reviews.head()

,funny,posted,last_edited,item_id,helpful,recommend,review
8342,,"Posted March 20, 2014.",,1250,1 of 1 people (100%) found this review helpful,True,หนุกคับ แนะนำ 10/10
25239,,"Posted January 24, 2014.",,440,2 of 3 people (67%) found this review helpful,True,the best game i ever plllayed
76837,,"Posted May 30, 2014.",,113200,0 of 1 people (0%) found this review helpful,True,One Of The Funnyest Games That Is Animated :) ...
64552,,"Posted August 15, 2015.",,105600,No ratings yet,True,"It's an amazing game, and im glad that mac use..."
12954,,Posted March 2.,,730,No ratings yet,True,"it done brokeded on me, the game no longer wor..."

agregamos el id de los usuarios a las reviews

In [13]:
#df_reviews = pd.concat([melted_df_reviews[['user_id']], df_reviews], axis=1)
df_reviews

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
8342,--000--,,"Posted March 20, 2014.",,1250,1 of 1 people (100%) found this review helpful,True,หนุกคับ แนะนำ 10/10
25239,--ace--,,"Posted January 24, 2014.",,440,2 of 3 people (67%) found this review helpful,True,the best game i ever plllayed
76837,--ace--,,"Posted May 30, 2014.",,113200,0 of 1 people (0%) found this review helpful,True,One Of The Funnyest Games That Is Animated :) ...
64552,--ionex--,,"Posted August 15, 2015.",,105600,No ratings yet,True,"It's an amazing game, and im glad that mac use..."
12954,--ionex--,,Posted March 2.,,730,No ratings yet,True,"it done brokeded on me, the game no longer wor..."
...,...,...,...,...,...,...,...,...
75656,zyr0n1c,,"Posted March 26, 2015.",,230410,1 of 1 people (100%) found this review helpful,True,Fantastic game! Lots of gamemodes and large va...
178852,zyr0n1c,,"Posted July 15, 2013.",,4000,0 of 1 people (0%) found this review helpful,True,Great Game! With lots and lots of props to pla...
127254,zyr0n1c,,"Posted February 1, 2015.",,730,2 of 5 people (40%) found this review helpful,True,"After playing 500 hours on this fantastic FPS,..."
230450,zyr0n1c,,"Posted December 23, 2013.","Last edited March 10, 2015.",8980,0 of 4 people (0%) found this review helpful,True,A Gem.It's level of stupidity is just overwhem...
17417,zzoptimuszz,,"Posted November 13, 2015.",,280790,No ratings yet,True,"Ok, ok, i am a VietNamese and excuse me for th..."

normalizo datos vacios

In [14]:
df_reviews.replace('', None, inplace=True)
df_reviews.head()

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
8342,--000--,None,"Posted March 20, 2014.",None,1250,1 of 1 people (100%) found this review helpful,True,หนุกคับ แนะนำ 10/10
25239,--ace--,None,"Posted January 24, 2014.",None,440,2 of 3 people (67%) found this review helpful,True,the best game i ever plllayed
76837,--ace--,None,"Posted May 30, 2014.",None,113200,0 of 1 people (0%) found this review helpful,True,One Of The Funnyest Games That Is Animated :) ...
64552,--ionex--,None,"Posted August 15, 2015.",None,105600,No ratings yet,True,"It's an amazing game, and im glad that mac use..."
12954,--ionex--,None,Posted March 2.,None,730,No ratings yet,True,"it done brokeded on me, the game no longer wor..."

In [15]:
print(df_reviews.info())
print("\nValores nulos por columna:")
print(df_reviews.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 8342 to 17417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59305 non-null  object
 1   funny        8151 non-null   object
 2   posted       59305 non-null  object
 3   last_edited  6140 non-null   object
 4   item_id      59305 non-null  object
 5   helpful      59305 non-null  object
 6   recommend    59305 non-null  bool
 7   review       59275 non-null  object
dtypes: bool(1), object(7)
memory usage: 3.7+ MB
None

Valores nulos por columna:
user_id            0
funny          51154
posted             0
last_edited    53165
item_id            0
helpful            0
recommend          0
review            30
dtype: int64

In [16]:
# Se eliminan las columnas 'funny' y 'last_edited'
df_reviews = df_reviews.drop(columns=['funny', 'last_edited'])
df_reviews.columns

Index(['user_id', 'posted', 'item_id', 'helpful', 'recommend', 'review'], dtype='object')

In [17]:
# Asegúrate de que 'reviews_posted' sea de tipo datetime
df_reviews['reviews_posted'] = pd.to_datetime(df_reviews['posted'].astype(str).str.replace(r'Posted |,|\.', '', regex=True), errors='coerce')

# Crea la columna 'year' a partir de 'reviews_posted'
df_reviews['year'] = df_reviews['reviews_posted'].dt.year.astype('Int64')

# Ordena el DataFrame por 'item_id' y 'year' para asegurar que la interpolación se haga correctamente
df_reviews = df_reviews.sort_values(['item_id', 'year'])

In [18]:
df_reviews

,user_id,posted,item_id,helpful,recommend,review,reviews_posted,year
27915,76561198040188061,"Posted May 18, 2011.",10,0 of 2 people (0%) found this review helpful,True,this game is the 1# online action game is awes...,2011-05-18,2011
137939,maddoxx789,"Posted July 24, 2012.",10,No ratings yet,True,GYERTEK GAMELNI MINDENKI ITT VAN AKI SZÁMIT !!...,2012-07-24,2012
143399,mixadance,"Posted September 27, 2012.",10,2 of 3 people (67%) found this review helpful,True,:D,2012-09-27,2012
17642,waspish,"Posted April 7, 2012.",10,No ratings yet,True,Good Game :D,2012-04-07,2012
69971,666_pl_Satan_pl_666,"Posted November 24, 2013.",10,2 of 2 people (100%) found this review helpful,True,"Ogólnie fajna gra, trudno nie polecić. Jedyny ...",2013-11-24,2013
...,...,...,...,...,...,...,...,...
7202,shapes2004,Posted May 3.,99900,1 of 7 people (14%) found this review helpful,True,i only played it for the tf2 hat,NaT,<NA>
56454,Gatsukama,"Posted December 28, 2011.",99910,No ratings yet,True,"Looks like a cute childrens game, but has more...",2011-12-28,2011
3512,WhenWeWereYoungggg,"Posted June 4, 2012.",99910,1 of 2 people (50%) found this review helpful,True,Super fun.,2012-06-04,2012
22577,Themfgamer,"Posted July 25, 2014.",99910,0 of 9 people (0%) found this review helpful,False,"1/10, just a bad game overall. Dead, Boring, d...",2014-07-25,2014
90559,Jezza453,"Posted March 4, 2015.",99910,No ratings yet,True,"This is a highly strategic puzzle game, it has...",2015-03-04,2015

In [20]:
# Rellenar valores nulos en 'year' mediante interpolación lineal por grupo (item_id	)
df_reviews['year'] = df_reviews.groupby('item_id', group_keys=False)['year'].apply(lambda group: group.interpolate(method='pad') if group.notna().any() else group)

# Si aún hay valores nulos después de la interpolación, se llenan con la mediana.
df_reviews['year'] = df_reviews['year'].fillna(df_reviews['year'].median())

In [21]:
# Análisis de texto para determinar el idioma de las reseñas

def detectar_idioma(texto):
    try:
        return detect(texto)
    except:
        return None

# Aplicar la función para detectar idioma y crear una nueva columna 'language'
df_reviews['language'] = df_reviews['review'].apply(detectar_idioma)

# Calcular el conteo y porcentaje de cada idioma
conteo_por_idioma = df_reviews['language'].value_counts()
porcentaje_por_idioma = df_reviews['language'].value_counts(normalize=True) * 100

# Crear un nuevo DataFrame con el conteo y porcentaje
resumen_idiomas = pd.DataFrame({
    'Conteo': conteo_por_idioma,
    'Porcentaje': porcentaje_por_idioma.round(2).astype(str) + '%'
})

# Ordenar el DataFrame por el conteo de mayor a menor
resumen_idiomas = resumen_idiomas.sort_values(by='Conteo', ascending=False)
resumen_idiomas.head()

          Conteo Porcentaje
language
en         45790     77.99%
pt          2197      3.74%
es          1278      2.18%
de          1132      1.93%
so          1022      1.74%

In [22]:

#esto es para tener la información en el EDA

# Mapeo de códigos de idioma a nombres completos (Top 5)
mapeo_idiomas = {
    'en': 'English',
    'pt': 'Portugués',
    'es': 'Español',
    'de': 'German',
    'so': 'Somali',
    # Agrega más mapeos según sea necesario
}

# Aplicar el mapeo al DataFrame
df_reviews['idioma_completo'] = df_reviews['language'].map(mapeo_idiomas)

# Crear un DataFrame con el resumen de idiomas
resumen_idiomas = df_reviews['idioma_completo'].value_counts().reset_index()
resumen_idiomas.columns = ['Idioma', 'Conteo']
resumen_idiomas['Conteo'] = resumen_idiomas['Conteo'].round(2)

# Calcular el porcentaje
resumen_idiomas['Porcentaje'] = (resumen_idiomas['Conteo'] / len(df_reviews)) * 100
resumen_idiomas['Porcentaje'] = resumen_idiomas['Porcentaje'].round(2)

In [23]:
# Filtrar los registros donde language no es igual a 'en'
ddf_reviews = df_reviews[df_reviews['idioma_completo'] == 'English']

# Borrar la columna 'idioma_completo'
ddf_reviews = ddf_reviews.drop('idioma_completo', axis=1)

In [24]:
#Se convierten todas las letras a minúsculas para asegurar que todas las palabras sean tratadas de la misma manera.
ddf_reviews.loc[:, 'review'] = ddf_reviews['review'].str.lower()

In [25]:
#Eliminación de caracteres especiales
ddf_reviews['review'] = ddf_reviews['review'].replace('[^A-Za-z0-9\s]+', '', regex=True)

In [26]:
#Elimina caracteres de puntuación que no aportan al análisis de sentimiento.
ddf_reviews.loc[:, 'review'] = ddf_reviews['review'].str.replace('[^\w\s]', '', regex=True)

In [27]:
# Análisis de sentimiento para categorizar las reseñas columna 'review'

def analyze_sentiments(df):
    # Instanciar el analizador de sentimientos
    sia = SentimentIntensityAnalyzer()

    # Aplicar el análisis de sentimientos y asignar valores numéricos
    df['compound_score'] = df['review'].apply(lambda review: sia.polarity_scores(review)['compound'])
    df['sentiment_analysis'] = df['compound_score'].apply(lambda score: 0 if score < 0 else (1 if score == 0 else 2))

    # Conteo de reviews por score
    score_counts = df['sentiment_analysis'].value_counts()

    # Conteo de reviews en blanco
    blank_reviews_count = df['review'].isnull().sum()

    # Total de reviews
    total_reviews = len(df)

    # Calcular porcentajes
    score_percentages = (score_counts / total_reviews * 100).round(2)
    blank_reviews_percentage = (blank_reviews_count / total_reviews * 100).round(2)

    return df, score_counts, blank_reviews_count, score_percentages, blank_reviews_percentage

In [28]:
# Llamar a la función analyze_sentiments
ddf_reviews, score_counts, blank_reviews_count, score_percentages, blank_reviews_percentage = analyze_sentiments(ddf_reviews)

In [48]:
# Se eliminan las columnas 'review' y 'compound_score', no necesitaremos estos datosd
#ddf_reviews.drop(['review','compound_score'], axis=1, inplace=True)

In [29]:
# Crear un nuevo DataFrame con el conteo y porcentaje
resumen_sentimientos = pd.DataFrame({
    'Conteo': score_counts,
    'Porcentaje': score_percentages.round(2).astype(str) + '%'
})

In [30]:
# Ordenar el DataFrame por el conteo de mayor a menor
resumen_sentimientos = resumen_sentimientos.sort_values(by='Conteo', ascending=False)

In [31]:
# Imprimir los resultados
print("\nResumen de análisis de sentimientos:")
print(resumen_sentimientos)
print("\nConteo de reviews en blanco: ", blank_reviews_count, " Porcentaje: ", blank_reviews_percentage.round(2).astype(str) + '%')

Resumen de análisis de sentimientos:
                    Conteo Porcentaje
sentiment_analysis
2                    32429     70.82%
0                     8536     18.64%
1                     4825     10.54%

Conteo de reviews en blanco:  0  Porcentaje:  0.0%

In [37]:

ddf_reviews

,user_id,posted,item_id,helpful,recommend,review,reviews_posted,year,language,compound_score,sentiment_analysis
27915,76561198040188061,"Posted May 18, 2011.",10,0 of 2 people (0%) found this review helpful,True,this game is the 1 online action game is aweso...,2011-05-18,2011,en,0.7906,2
121951,epic_doom,"Posted July 5, 2013.",10,1 of 1 people (100%) found this review helpful,True,the og to csgo,2013-07-05,2013,en,0.0000,1
3332,76561198072207162,"Posted January 23, 2014.",10,No ratings yet,True,people still play this siq game,2014-01-23,2014,en,0.3400,2
80514,BestinTheWorldThund3r,"Posted March 19, 2014.",10,0 of 2 people (0%) found this review helpful,True,one of the best childhood games i have ever pl...,2014-03-19,2014,en,0.7650,2
56962,Bigzy,"Posted September 1, 2014.",10,1 of 2 people (50%) found this review helpful,True,first online shooter i played,2014-09-01,2014,en,0.3400,2
...,...,...,...,...,...,...,...,...,...,...,...
79817,ironhorse612,Posted February 24.,99900,0 of 2 people (0%) found this review helpful,True,1 go on steam2 download spiral knights3 play t...,NaT,2015,en,0.3400,2
7202,shapes2004,Posted May 3.,99900,1 of 7 people (14%) found this review helpful,True,i only played it for the tf2 hat,NaT,2015,en,0.3400,2
56454,Gatsukama,"Posted December 28, 2011.",99910,No ratings yet,True,looks like a cute childrens game but has more ...,2011-12-28,2011,en,0.7311,2
22577,Themfgamer,"Posted July 25, 2014.",99910,0 of 9 people (0%) found this review helpful,False,110 just a bad game overall dead boring dead s...,2014-07-25,2014,en,-0.9747,0
90559,Jezza453,"Posted March 4, 2015.",99910,No ratings yet,True,this is a highly strategic puzzle game it has ...,2015-03-04,2015,en,0.9670,2

dropeo las columnas que me son inutiles

In [42]:
#ddf_reviews = ddf_reviews.drop(['posted', 'language', 'compound_score','reviews_posted'], axis=1)

ddf_reviews

,user_id,item_id,helpful,recommend,review,year,sentiment_analysis
27915,76561198040188061,10,0 of 2 people (0%) found this review helpful,True,this game is the 1 online action game is aweso...,2011,2
121951,epic_doom,10,1 of 1 people (100%) found this review helpful,True,the og to csgo,2013,1
3332,76561198072207162,10,No ratings yet,True,people still play this siq game,2014,2
80514,BestinTheWorldThund3r,10,0 of 2 people (0%) found this review helpful,True,one of the best childhood games i have ever pl...,2014,2
56962,Bigzy,10,1 of 2 people (50%) found this review helpful,True,first online shooter i played,2014,2
...,...,...,...,...,...,...,...
79817,ironhorse612,99900,0 of 2 people (0%) found this review helpful,True,1 go on steam2 download spiral knights3 play t...,2015,2
7202,shapes2004,99900,1 of 7 people (14%) found this review helpful,True,i only played it for the tf2 hat,2015,2
56454,Gatsukama,99910,No ratings yet,True,looks like a cute childrens game but has more ...,2011,2
22577,Themfgamer,99910,0 of 9 people (0%) found this review helpful,False,110 just a bad game overall dead boring dead s...,2014,0
90559,Jezza453,99910,No ratings yet,True,this is a highly strategic puzzle game it has ...,2015,2

In [43]:
# Cuenta los valores nulos por columna
valores_nulos = ddf_reviews.isnull().sum()

# Imprime el resultado
print("Valores nulos por columna:")
print(valores_nulos)

Valores nulos por columna:
user_id               0
item_id               0
helpful               0
recommend             0
review                0
year                  0
sentiment_analysis    0
dtype: int64

Guardo los dato limpios ahora

In [44]:
# Los archivos se almacenan en local 
ddf_reviews.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\ETL_dataset\users_reviews_cleaned.csv', index=False)
ddf_reviews.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\ETL_dataset\users_reviews_cleaned.json', orient='records', lines=True)
ddf_reviews.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\ETL_dataset\users_reviews_cleaned.parquet', index=False)